extends layout

block content
  .container
    .row.justify-content-center
      .col-lg-12
        .text-center.mt-4
          h1.display-1= error.status
          p.lead= message
          pre #{error.stack}
          a(href="index")
            i.fas.fa-arrow-left.me-1
            | Return to Dashboard
