doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Static Navigation - SB Admin
    link(href='stylesheets/styles.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js', crossorigin='anonymous')
  body
    nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
      // Navbar Brand
      a.navbar-brand.ps-3(href='/') Narzędzia finansowe
    
    #layoutSidenav
      #layoutSidenav_nav
        nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
          .sb-sidenav-menu
            .nav
              .sb-sidenav-menu-heading Kalkulatory
              a.nav-link(href='/SalaryCalculator')
                .sb-nav-link-icon
                  i.fas.fa-tachometer-alt
                | Kalkulator wynagrodzenia
             
      #layoutSidenav_content
        main
          block content
           
        footer.py-4.bg-light.mt-auto
          .container-fluid.px-4
            .d-flex.align-items-center.justify-content-between.small
              .text-muted Copyright © XXXXX Website 2022
              div
                a(href='/privacypolicy') Polityka Prywatności
                |                                 ·
                a(href='/termsandconditions') Warunki
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    script(src='js/scripts.js')
